   {
        "command": [],
        "image": "${image}",
        "jobRoleArn": "${job_role_arn}",
        "memory": 10000,
        "vcpus": 1,
        "environment": [
            {"name": "BUCKET", "value": "${bucket}"},
            {"name": "LABEL", "value": "${label}"}
        ]
    }